@import url("../../styles/colors.css");

button {
  display: inline;
  padding: 0.75rem;
  border: none;
  background: var(--color-primary);
  color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem -0.25rem var(--color-primary);
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1rem;
}

button:hover {
  box-shadow: 0 0 1.5rem -0.25rem var(--color-primary);
}