@import url("../../styles/colors.css");

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

.box {
  background: center / cover url("../../assets/img/invite_bg.svg") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 9rem;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem var(--color-primary-shadow);
}

.heading {
  font-size: 3rem;
  color: #ffffff;
}

.subheading {
  font-size: 1.25rem;
  color: #ffffff;
}