@import url("../../styles/colors.css");

.titleHeading {
  color: var(--color-primary);
  display: inline;
}

.titleHeading.titleBig {
  font-size: 3rem;
}

.titleHeading.titleSoBig {
  font-size: 5rem;
}

.titleHeading.titleDark {
  color: #ffffff;
}

.titleHeading .titleSubheading {
  color: rgb(0, 204, 68);
}
