/* Globals */
.sectionHeading {
  font-size: 3rem;
  color: var(--color-primary);
}

.itemHeading {
  color: var(--color-primary);
}

.itemSubheading {
  text-align: justify;
  text-align-last: left;
}

/* Home section */
.homeMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.homeWrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.homeMain .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homeMain .desc {
  max-width: 300px;
  font-size: 1.25rem;
  text-align: justify;
  text-align-last: left;
}

.homeMain .banner {
  height: 400px;
}

.homeMain .scrollDown {
  position: absolute;
  height: 2.5rem;
  width: 1.5rem;
  bottom: 2rem;
  border-radius: 20px;
  border: 2px solid var(--color-primary);
}

.homeMain .scrollDown::after {
  position: absolute;
  content: "";
  height: 0.75rem;
  width: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  background: var(--color-primary);
  animation: scroll 1.5s linear forwards infinite;
}
/* End home section */

/* Loan section */
.loanMain {
  min-height: 100vh;
  width: 100vw;
  padding: 10rem 0 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

/* Features section */
.loanMain .features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.loanMain .featuresContainer {
  display: grid;
  grid-template: auto / auto auto;
  gap: 5rem;
}

.loanMain .feature {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
  position: relative;
  box-shadow: 0 0 2rem -0.5rem var(--color-primary-shadow);
  border-radius: 2rem;
  transition: 0.3s ease all;
}

.loanMain .feature:hover {
  box-shadow: 0 0 2rem 0rem var(--color-primary-shadow);
}
.loanMain .featureIcon {
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  height: 4rem;
  width: 4rem;
  background: var(--color-primary);
  box-shadow: 0 0 2rem -0.5rem var(--color-primary);
  padding: 0.5rem;
  border-radius: 50px;
  transition: 0.3s ease all;
}

.loanMain .feature:hover .featureIcon {
  animation: icon 2s forwards linear infinite;
}

/* Steps section */
.loanMain .steps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.loanMain .steps .timeline {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 4rem 0;
}

.loanMain .steps .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  bottom: 0;
  border-radius: 100px;
  background: var(--color-primary);
  left: 50%;
  transform: translateX(-50%);
  animation: timeline 2s forwards linear infinite;
  z-index: -1;
}

.loanMain .steps .step {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: 400px;
  padding: 2rem;
  border-radius: 2rem;
  background: #ffffff;
  box-shadow: 0 0 2rem -0.5rem var(--color-primary-shadow);
  z-index: 1;
  transition: 0.3s ease all;
}

.loanMain .steps .step:hover {
  box-shadow: 0 0 2rem 0rem var(--color-primary-shadow);
}

.loanMain .step .stepNumber {
  position: absolute;
  right: 2rem;
  height: 2rem;
  width: 2rem;
  top: 2rem;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.25rem;
  border-radius: 100px;
  box-shadow: 0 0 1rem -0.25rem var(--color-primary);
}

.loanMain .steps .step:hover .stepNumber {
  animation: icon 2s forwards linear infinite;
}
/* End Loan section */

/* Invitation section */
.invitationMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
}

.invitationMain .box {
  background: center / cover url("../../assets/img/invite_bg.svg") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 9rem;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem var(--color-primary-shadow);
}

.invitationMain .heading {
  font-size: 3rem;
  color: #ffffff;
}

.invitationMain .subheading {
  font-size: 1.25rem;
  color: #ffffff;
}
/* End Invitation section */

/* Faqs section */
.faqsMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem;
}

.faqsMain .faqsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
}

.faqsMain .faqsList .faq {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0;
  border-radius: 1rem;
  position: relative;
  transition: 0.3s ease all;
  cursor: pointer;
}

.faqsMain .faqsList .faq:hover {
  background: var(--color-primary-shadow);
}

.faqsMain .faqsList .faq.opened {
  gap: 0.5rem;
}

.faqsMain .faqsList .faq .faqQuestion {
  font-size: 1.25rem;
  position: relative;
  padding: 0 2rem 0 0;
}

.faqsMain .faqsList .faq .faqQuestion button {
  position: absolute;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  right: 0;
  top: 0;
  font-size: 2rem;
}

.faqsMain .faqsList .faq .faqAnswer {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s ease all;
}

.faqsMain .faqsList .faq.opened .faqAnswer {
  height: auto;
  opacity: 1;
}
/* End Faqs section */

/* Keyframes */
@keyframes scroll {
  0% {
    opacity: 0;
    top: 0px;
  }

  50% {
    opacity: 1;
    top: 15px;
  }

  100% {
    opacity: 0;
    top: 20px;
  }
}

@keyframes icon {
  0% {
    box-shadow: 0 0 0 0rem rgba(0, 68, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 1rem rgba(0, 68, 255, 0);
  }
}

@keyframes timeline {
  0% {
    box-shadow: 0 0 0 0rem rgba(0, 68, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2rem rgba(0, 68, 255, 0);
  }
}
/* End Keyframes */

/* Responsive */
@media only screen and (max-width: 768px) {
  /* Home section */
  .homeWrapper {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .homeMain .banner {
    height: 300px;
  }

  .homeMain .scrollDown {
    position: relative;
    bottom: -2rem;
  }
  /* End Home section */

  /* Loan section */
  .loanMain .featuresContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .loanMain .feature {
    width: 75%;
    padding: 3rem 2rem 2rem;
  }

  .loanMain .featureIcon {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    top: -2rem;
  }
  /* End Loan section */

  /* Steps section */
  .loanMain .steps {
    width: 100%;
  }

  .loanMain .steps .step {
    width: 75%;
  }
  /* End Steps section */

  /* Invitation section */
  .invitationMain .box {
    padding: 2rem 5rem;
  }
  /* End Invitation section */

  /* Faqs section */
  .faqsMain {
    padding: 3rem;
  }
  /* End Faqs section */

  /* Keyframes */
  @keyframes icon {
    0% {
      box-shadow: 0 0 0 0rem rgba(0, 68, 255, 0.5);
    }

    100% {
      box-shadow: 0 0 0 0.5rem rgba(0, 68, 255, 0);
    }
  }
  /* End Keyframes */
}
/* End Responsive */
