.notfoundMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: calc(100vh - 125px);
  width: 100vw;
}

.notfoundTitle {
  font-size: 5rem;
}

.notfoundDesc {
  font-size: 2rem;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .notfoundMain {
    height: calc(100vh - 100px);
  }
}
/* End Responsive */
